﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support123:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing321:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
